@charset "UTF-8";

h1 {
    background-color: #CC4949;
    color: #FFFFFF;
    display:inline;
    white-space:pre-wrap;
    line-height : 24px;
    font-size: 28px;
    font-family:arial, sans-serif;
    padding: 5px;
    padding-left:4px;
}

p{
	font-weight: bold;
}


body {
	margin-left: 7px;
}